body {
    font-family: 'Garamond', serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #337887;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 1.2em;
    color: #333;
}

input[type="file"] {
    padding: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    background-color: #337887;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #285f6b;
}

h2 {
    margin-top: 20px;
    color: #333;
}

textarea {
    width: 97%;
    height: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background-color: #f9f9f9;
    color: #333;
}

